
<div class="about-me section" id="aboutMe">
<div class="about-me-wrapper">
    <div class="about-header">
        <span>About Me</span>
    </div>
    <div class="about-me-container">
        <div class="about-me-left">
            <img src="././assets/rohanimg.png" alt="">
        </div>
        <div class="about-me-right">
            <span class="about-me-italic"> - About Me</span>
            <span class="about-me-who">Who is Rohan Prakash ?</span>
            <p class="about-me-desc"> Rohan Prakash is a Software Developer at Amadeus Software Labs with 2.4 years of
                experience. He graduated from Lovely Professional
                University. As an Angular developer, he craft dynamic and efficient web-applications. He specialize in
                Angular development and thrive on solving problems
                and creating efficient solutions.
            </p>
            <button><a href="https://www.linkedin.com/in/rohan15397/" target="_blank">Linkedin</a></button>
             
            <div class="other-details">
                <h1>- Education and Work</h1>
                <h3>My Academic and <br> Professional Journey</h3>
            </div>
             <div class="other-details-info">
                <div class="info">
                    <img src="./././assets/angular-svgrepo-com.svg" alt="angular">
                    <span>Working as FronEnd Developer - Angular</span>
                </div>
                <div class="info">
                    <img src="./././assets/work (2).svg" alt="">
                    <span>
                        SDE - Amadeus Labs (JUL 2023 - Present)
                    </span>
                </div>
                <div class="info">
                    <img src="./././assets/work (2).svg" alt="">
                    <span>
                        SDE - Amadeus Labs (FEB 2023 - JUL 2023)
                    </span>
                </div>
                <div class="info">
                    <img src="./././assets/graduate-cap-svgrepo-com.svg" alt="">
                    <span>
                        Lovely Professional University (JUL 2019 - JUL 2023)
                    </span>
                </div>
             </div>
        </div>
    </div>

</div>
</div>