<div class="project section" id="project">
    <div class="project-header"><span>My Projects</span></div>

    <div class="project-details">
        <div class="row">
        <div class="project-details-first project-overview">
            <img src="././assets/Screenshot 2025-05-24 194157.png" alt="project">
            <div class="key-notes">
            <span>Angular</span>
            <span>Play games</span>
            <span>String Tools</span>
            </div>
            <p>Squery -: Tool that come <br>in need everyday</p>
            <button>Github</button>
        </div>
        <div class="project-details-second project-overview">
            <img src="././assets/astoss.png" alt="project">
            <div class="key-notes">
            <span>Angular</span>
            <span>Portfolio</span>
            <span>Animation</span>
            </div>
            <p>Portfolio -: Astro designed <br>swiper slider</p>

            <button>Github</button>
        </div>
    </div>
    <div class="row">
        <div class="certificate-details-first project-overview">
            <img src="././assets/ecommm.png" alt="project">
            <div class="key-notes">
            <span>Angular</span>
            <span>NodeJS</span>
            <span>Lazy Loading</span>
            </div>
            <p>Ecomm -: ecommerce app with frontend backend <br>api built in nodejs</p>
            <button>Github</button>
        </div>
        <div class="certificate-details-second project-overview">
            <img src="././assets/whiteport.png" alt="project">
            <div class="key-notes">
            <span>Angular</span>
            <span>Portfolio</span>
            <span>GSAP</span>
            </div>
            <p>Portfolio -: simple portfolio with animation <br>gsap responsive</p>
            <button>Github</button>
        </div>
    </div>
    </div>
</div>