<div class="home section" id="home">
    <div class="introduction-container">
        <div class="left-container">
            <span class="greet"><img src="././assets/image.png" alt="hello"></span>
            <span   class="after-greet">I'm <span id="my-span"></span></span>
            <span class="after-greet-intro"> Tech Enthusiast & <br> Software Developer</span>
            <p class="after-greet-closure"> Innovative Problem Solver who always wants to learn more</p>
            <div class="share-card">
                <button class="download-cv">Download CV</button>
                <button class="whatsapp"><a href="https://wa.me/919304969133?text=Hi" alt="whatsapp">Whatsapp</a></button>
            </div>

        </div>
        <div class="right-container">
            <img src="././assets/sde.png" alt="rohan-image">
        </div>
    </div>
    <div class="star">
        <div class="banner-back"></div>
        <div class="banner-front">
            <span> </span>
            <span>✦</span>
            <span> </span>
            <span>✦</span>
            <span> </span>
            <span>✦</span>
            <span> </span>
            <span>✦</span>
            <span> </span>
            <span>✦</span>
            <span> </span>
            <span>✦</span>
        </div>
    </div>
</div>
